 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 *{
   margin: 0;
   padding: 0;
   box-sizing: 0;
   font-family: "Inter", sans-serif;
 }
 body{
   background-color: rgba(35, 14, 61, 1) ;
   color: aliceblue;
 }
 /* -----Nav-Bar----- */

 .nav-container{
   display:flex ;
   justify-content: space-around;
   height: 92px;
   align-items: center;
   
 }
 .nav-2{
   display: flex;
   gap: 32px;
 }
 .nav-1{
   font-size: 30px;
   font-style: bolder;
   width: 220px;
   height: 32px;
   background-color: brown;
 }
 .nav-3{
   display: flex;
   gap: 4px;
   width:135px ;
   height: 44px;
   background-color: brown;
 
 }
 /* ------Hero-container------ */
 
 .hero-container{
   margin: 0 auto;
 }