 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 *{
   margin: 0;
   padding: 0;
   box-sizing: 0;
   font-family: "Inter", sans-serif;
 }
 body{
   background-color: rgba(35, 14, 61, 1);
   color: aliceblue;
 }
 /* -----Nav-Bar----- */

 .nav-container{
   display:flex ;
   justify-content: space-around;
   height: 92px;
   align-items: center;
   
 }
 .nav-2{
   display: flex;
   gap: 32px;
 }
 .nav-1{
   font-size: 30px;
   font-style: bolder;
   width: 220px;
   height: 32px;
   background-color: brown;
 }
 .nav-3{
   display: flex;
   gap: 4px;
   width:135px ;
   height: 44px;
   background-color: brown;
 
 }

 /* ------Hero-container------ */
 .hero-container{
  background-image: url(../assets/hero-bg.png);
  height: 760px;
 }
 .hero-circle{
  align-items: center; 
  justify-content:center;
 } 

 /* .hero-microphone{
  display: flex;
  align-items: center; 
  justify-content:center;
 }  */

  
 .hero-discribtion{ 
  text-align: center;

 }
 .about{
  background-color: rgba(35, 14, 61, 1);
  height: 650px;
  margin-top: 50px;
  

 }
.about-info{
  text-align: center;
  max-width: 1200px;
  height: 95px;
  border-radius: 20px;
  

}
.Number{ 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  height: 95px;
  align-items:center;
  margin-top: 80px;
  text-align: center; 
  
  /* gap: 24px; */
  /* display:grid;
  
  
     */
}




 /* ---grid-container--- */
 .grid-h1, h1{
  text-align: center;

  
 }
 .grid-container{
  display: grid;
  /* gap: 30px; */
  max-width: 1200px;
  max-height: 780px;
  /* padding: 120px 200px; */
  margin: 40px auto;
  grid-template-columns:repeat(3,1fr) ;
  grid-template-rows: repeat(3,200px);
  background-color: rgba(35, 14, 61, 1);

 }
 /* .box-1{
  grid-row: 1/span 2;
  background-color: rgba(53, 17, 101, 0.4);

 }
 .box-2{
  grid-column: 2/span 3;

 }
.box-5{
  grid-column: 5/ span 6;
  background-color: rgba(53, 17, 101, 0.4);

}
.box-7{
  grid-column: 7/ span 8;

} */

.Featured-Episodes{
  height: 540px;
  display: flex;
  margin: 30px 200px;
  margin-bottom: 120px;
  

}
.Host{
  display: flex;
  gap:20px;
  align-items: center;
  height: 380px;
  margin: 30px 200px;
}

/* ----footer-Part----- */
.footer-section{
  height: 410px;
  border: .1px solid rgb(58, 57, 57);
  background-image: url(../assets/footer-bg.png);
  
}
.footer-all{ 
  height: 170px; 
  /* border: 2px solid red; */
  margin: 100px 200px 5px 200px;
}
.footer-all img{
  border: 3px solid rgb(122, 13, 224);
  border-radius: 200px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.footer-logo{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top: 32px;
}
.footer-all>p{
  margin-top: 32px;
  text-align: center;
  align-items: center;
  
}
